.Input-container {
  margin-left: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.Input-container.root {
  margin-left: 0;
}


.Input-login_link {
  color: #0087E9;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
  cursor: pointer;
}

.Input-login_cancel {
  color: #666;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.Input-title {
  color: #000;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.Input-comment {
  padding: 5px 0 0 4px;
  height: 80px;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid #666;
  background: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(102, 102, 102, 0.10) inset;
  outline: none;

  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
}


.Input-field {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.Input-button_container {

}

.Input-send {
  margin-right: 10px;
}